/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */

 /* SVG Map */
 .world-map {
     text-align: center;
 }
 .world-map svg.map {
     width: 80%;
 }
 .world-map svg.map circle {
     fill: #fab16e;
 }
 .world-map svg.map .selected {
     fill: #242964;
     transition: all 2s ease;
     box-shadow: 0 0 0 0 rgba(232, 76, 61, 0.7);
     animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
 }
 /* End SVG Map */
