/**
* All of the CSS for your admin-specific functionality should be
* included in this file.
*/

.world-map-admin {
   text-align: center;
}
svg.map {
   width: 90%;
}
svg.map circle {
   fill: #fab16e;
}
svg.map circle.selected {
   fill: #242964;
   transition: all 0.1s ease;
   box-shadow: 0 0 0 0 rgba(232, 76, 61, 0.7);
   animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
}
